<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Http Word count Web Application</display-name>
  <servlet>
    <servlet-name>wordCountServlet</servlet-name>
    <servlet-class>com.test.wordcount.WordCountServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>wordCountServlet</servlet-name>
    <url-pattern>/wordcount</url-pattern>
  </servlet-mapping>
</web-app>
